@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower');

* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

body {
  background-image: url("http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_720/images/live/p0/52/j5/p052j5kp.jpg");
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.center-text {
  text-align: center;
}

.container {
  width: 80%;
  background-image: url("trans.png");
  border-radius: 16px;
  margin: 0px auto;
  padding: 10px 10px;
}

h1, h2 {
  font-family: "Indie Flower";
}

img{
  width: 200px;
  float: left;
  border-radius: 16px;
}

.label{
  position: absolute;
  margin: 10px 10px;
}
.float {
  float: left;
  margin: 0px 10px;
}
.centered {
  width: 900px;
  margin: 0 auto;
}
p {
  font-family: "Dancing Script";
}